header {
  font-size: 14px;
  margin: 18px;
}

.roomList {
  background-color: #fdd9d2;
  display: inline;
  padding-right: 45px;
  margin-left: 25px;
  float: right;
}

.roomForm {
  background-color: orange;
  font: arial;
  font-size: 18px;
}
.msgList {
  margin-left: 75px;
  padding-left: 20px;
  background-color: lightblue;
}

.oneMessage {
  font-weight: bold;
}

.btnRoom {
  border-style: dashed;
}
