header {
  font-size: 14px;
  margin: 18px;
}

.roomList {
  background-color: lightyellow;
  display: inline;
  padding: 15px;
  float: left;
}

.roomForm {
  background-color: orange;
  font: arial;
  font-size: 18px;
}
.msglist {
  margin-left: 75px;
  background-color: lightblue;
}

.oneMessage {
  font-weight: bold;
}
.btnRoom {
  border-style: dashed;
}
