header {
  font-size: 14px;
  margin: 18px;
}

.roomList {
  background-color: lightyellow;
}

.roomForm {
  background-color: orange;
  font: arial;
  font-size: 18px;
}
.msglist {
  background-color: lightblue;
}

.btnRoom {
  border-style: dashed;
}
