<h1>Bloc Chat</h1>
<!--
<div class="collection-album-container column fourth" ng-repeat="album in collection.albums track by $index">
-->

<!-- Display each room in the database by referencing
the controller-as name 'home' which has the service called Room as a dependency. This service exposes properties and methods as needed by views.

Ex: variable 'oneRoom' is any name I choose that holds one instance of the list being traversed. The data held in variable 'oneRoom' is provided by the service Room (see the dependencies injected into the controller HomeCtrl).

`home.listOfRooms` uses the controller-as name 'home' with the properties or methods exposed by the dependent service Room through $scope.
 -->

<div class="container">
  <div class="row justify-content-start">
    <div class="col-4">
      <div class='roomList' ng-repeat="oneRoom in home.listOfRooms">
        {{ oneRoom.name }}
      </div>
    </div>
    <div class="col-4">
      <br />
      <button type="button" ng-click='home.openForm()'>Add New Room</button>
      <p>{{ room.$value }}</p>
    </div>
  </div>
</div>
