<header>Bloc Chat</header>
<div class="col-4">
  <br />
  <button type="button" ng-click='home.openForm()'>Add New Room</button>
  <p>{{ room.$value }}</p>
</div>
<!--
<div class="collection-album-container column fourth" ng-repeat="album in collection.albums track by $index">
-->

<!-- Display each room in the database by referencing
the controller-as name 'home' which has the service called Room as a dependency. This service exposes properties and methods as needed by views.

Ex: variable 'oneRoom' is any name I choose that holds one instance of the list being traversed. The data held in variable 'oneRoom' is provided by the service Room (see the dependencies injected into the controller HomeCtrl).

`home.listOfRooms` uses the controller-as name 'home' with the properties or methods exposed by the dependent service Room through $scope.
 -->

<div class="container">
  <div class="row justify-content-start">
    <div class="col-4">
      <!-- ng-cloak= set display='none', prevent flicker -->
      <div class='roomList' ng-cloak>
        <div ng-repeat="oneRoom in home.listOfRooms">
          <div ng-click='home.showRoomMessages(oneRoom)'
          ng-model='selectedRoom'>
            {{ oneRoom.name }}</div>
        </div>
      </div>

      <div class='msgList'>
        <div class=''> Messages for Room: {{ home.chosenRoom }}
          <div class='' ng-hide='home.noMessages'>You have no messages</div>
          <div class='oneMessage' ng-repeat='oneMessage in home.roomMessages'>
            <p>From: {{ oneMessage.username }}, sent: {{ oneMessage.sentAt }}</p>
            <p>Message: {{ oneMessage.content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
